<% content_for :title, "New event" %>

<h1>Create New Event</h1>

<p>Creating event as: <strong><%= current_user.email %></strong></p>

<%= render 'form', event: @event %>

<%= link_to 'Back to Events', events_path %>
